.DS_Store
.ipynb_checkpoints
__pycache__/
*.pyc
raster1.ipynb
raster2.ipynb
imgsRaster/
imgsRaster2/
results1.ipynb
results2.ipynb
imgs/
imgs2/
summary1.ipynb
summary2.ipynb
summ/
summ2/
net_gen/
computeSP_job.sh
compute_SP.py
config_EC.txt




