.DS_Store
.ipynb_checkpoints
__pycache__/
*.pyc

git rm -r --cached raster1.ipynb
git rm -r --cached raster2.ipynb

git rm -r --cached imgsRaster
git rm -r --cached imgsRaster2

git rm -r --cached results1.ipynb
git rm -r --cached results2.ipynb

git rm -r --cached imgs
git rm -r --cached imgs2

git rm -r --cached summary1.ipynb
git rm -r --cached summary2.ipynb

git rm -r --cached summ
git rm -r --cached summ2




